.left_sidebar{
  border-right: 2px solid #f2f2f2;
}

.right_sidebar{
  border-left: 2px solid #f2f2f2;
}

.search{
  background-color: #f2f2f2;
  border-radius: 15px;
  line-height: 30px;
  border: none;
}

.price_range{
  background-color: #f2f2f2;

}

.set_price_btn{
  border-radius: 10px;
  padding: 3px 0;
}


.filter_btn{
  border: 1px solid #157347;
  background-color: #ffffff;
  color: #000000;
  padding: 3px 10px;
  margin: 0 20px;
  border-radius: 30px;
}

.filter_btn:focus{
  background-color: #157347;
  color: #ffffff;
  padding: 3px 10px;
}